	<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0">
	<TR>
		<TD  background="templates/lila/lila_1.jpg" width="253" height="66"></TD>
		<TD  background="templates/lila/lila_2.jpg" width="417" height="66"></TD>
		<TD background="templates/lila/lila_3.jpg" width="63" height="66"></TD>
	</TR>
	<TR>
		<TD  background="templates/lila/lila_4.jpg" width="253" height="23"></TD>
		<TD  background="templates/lila/lila_5.jpg" width="417" height="23" style="color: #FFFFFF">
		<b>#edit# #name#/#yer# #time#</b></TD>
		<TD background="templates/lila/lila_6.jpg" width="63" height="23"></TD>
	</TR>
	<TR>
		<TD  background="templates/lila/lila_7.jpg" width="253" height="19"></TD>
		<TD  background="templates/lila/lila_8.jpg" width="417" height="19"></TD>
		<TD background="templates/lila/lila_9.jpg" width="63" height="19"></TD>
	</TR>
</table>
	<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0">
	<TR>
		<TD background="templates/lila/lila_10.jpg" width="72" height="81"></TD>
		<TD  background="templates/lila/lila_11.jpg" width="582" height="81"></TD>
		<TD  background="templates/lila/lila_12.jpg" width="79" height="81"></TD>
	</TR>
	<TR>
		<TD background="templates/lila/lila_13.jpg" width="72" height="7"></TD>
		<TD  background="templates/lila/lila_14.gif" width="582" height="7" style="color: #4B0F40">#message#</TD>
		<TD  background="templates/lila/lila_15.jpg" width="79" height="7"></TD>
	</TR>
	<TR>
		<TD background="templates/lila/lila_19.jpg" width="72" height="18"></TD>
		<TD  background="templates/lila/lila_20.jpg" width="582" height="18"></TD>
		<TD  background="templates/lila/lila_21.jpg" width="79" height="18"></TD>
	</TR>
	<TR>
		<TD background="templates/lila/lila_22.jpg" width="72" height="26"></TD>
		<TD  background="templates/lila/lila_23.jpg" width="582" height="26" align="center">#email# #web# #ip#</TD>
		<TD  background="templates/lila/lila_24.jpg" width="79" height="26"></TD>
	</TR>
	<TR>
		<TD background="templates/lila/lila_25.jpg" width="72" height="46">&nbsp;</TD>
		<TD >
		<object classid="clsid:D27CDB6E-AE6D-11CF-96B8-444553540000" id="obj1" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" border="0" width="582" height="46">
			<param name="movie" value="templates/lila/lila26.swf">
			<param name="quality" value="Best">
			<embed src="templates/lila/lila26.swf" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" name="obj1" width="582" height="46" quality="Best"></object>
		</TD>
		<TD  background="templates/lila/lila_27.jpg" width="79" height="46">&nbsp;</TD>
	</TR>
</TABLE><br><br><br><br>

