 <table cellspacing="0" cellpadding="0" width="729" height="95" id="table1">
  <tr>
  <td background="templates/ferman2/ferman2_1.png" width="191" height="42"></td>
  <td background="templates/ferman2/ferman2_2.png" width="427" height="42"></td>
  <td background="templates/ferman2/ferman2_3.png" width="111" height="42"></td>
 </tr>
 <tr>
  <td background="templates/ferman2/ferman2_4.png" width="191" height="27"></td>
  <td background="templates/ferman2/ferman2_5.png" width="427" height="27" valign="bottom">
  #edit# <b>#name#</b>/#yer# #time#</td>
  <td background="templates/ferman2/ferman2_6.png" width="111" height="27"></td>
 </tr>
 <tr>
  <td background="templates/ferman2/ferman2_7.png" width="191" height="26"></td>
  <td background="templates/ferman2/ferman2_8.png" width="427" height="26"></td>
  <td background="templates/ferman2/ferman2_9.png" width="111" height="26"></td>
 </tr>
 </table>
 <table cellspacing="0" cellpadding="0" width="729">
 <tr>
  <td background="templates/ferman2/ustsol.png" width="113" height="41"></td>
  <td background="templates/ferman2/ustorta.png" width="506" height="41"></td>
  <td background="templates/ferman2/ustsag.png" width="110" height="41"></td>
 </tr>
 <tr>
  <td background="templates/ferman2/ortasol.png" width="113" height="33"></td>
  <td background="templates/ferman2/orta.gif" width="506" height="33"><div class='msgaln'>#message#</div></td>
  <td background="templates/ferman2/ortasag.png" width="110" height="33"></td>
 </tr>
 <tr>
  <td background="templates/ferman2/ortasol.png" width="113" height="33"></td>
  <td background="templates/ferman2/orta.gif" width="506" height="33">#email# #web#</td>
  <td background="templates/ferman2/ortasag.png" width="110" height="33"></td>
 </tr>
 <tr>
  <td background="templates/ferman2/altsol.png" width="113" height="61"></td>
  <td background="templates/ferman2/altorta.png" width="506" height="61"></td>
  <td background="templates/ferman2/altsag.png" width="110" height="61"></td>
 </tr>
</table>
