 <table cellspacing="0" cellpadding="0" width="729" height="95" id="table1">
<tr>
<td background="templates/ferman3/ferman3_1.png" width="191" height="42"></td>
<td background="templates/ferman3/ferman3_2.png" width="427" height="42"></td>
<td background="templates/ferman3/ferman3_3.png" width="111" height="42"></td>
</tr>
<tr>
<td background="templates/ferman3/ferman3_4.png" width="191" height="27"></td>
<td background="templates/ferman3/ferman3_5.png" width="427" height="27" valign="bottom">
<div class='msgbsl'>#edit# <b>#name#</b>/#yer# #time#</div></td>
<td background="templates/ferman3/ferman3_6.png" width="111" height="27"></td>
</tr>
<tr>
<td background="templates/ferman3/ferman3_7.png" width="191" height="26"></td>
<td background="templates/ferman3/ferman3_8.png" width="427" height="26"></td>
<td background="templates/ferman3/ferman3_9.png" width="111" height="26"></td>
</tr>
</table>
<table cellspacing="0" cellpadding="0" width="729">
<tr>
<td background="templates/ferman3/ustsol.png" width="113" height="41"></td>
<td background="templates/ferman3/ustorta.png" width="506" height="41"></td>
<td background="templates/ferman3/ustsag.png" width="110" height="41"></td>
</tr>
<tr>
<td background="templates/ferman3/ortasol.png" width="113" height="33"></td>
<td background="templates/ferman3/orta.gif" width="506" height="33">
<div class='msgaln'>#message#</div></td>
<td background="templates/ferman3/ortasag.png" width="110" height="33"></td>
</tr>
<tr>
<td background="templates/ferman3/ortasol.png" width="113" height="33"></td>
<td background="templates/ferman3/orta.gif" width="506" height="33">
#email# #web#</td>
<td background="templates/ferman3/ortasag.png" width="110" height="33"></td>
</tr>
<tr>
<td background="templates/ferman3/altsol.png" width="113" height="61"></td>
<td background="templates/ferman3/altorta.png" width="506" height="61"></td>
<td background="templates/ferman3/altsag.png" width="110" height="61"></td>
</tr>
</table>
