 <table cellspacing="0" cellpadding="0" width="729" height="95" id="table1">
  <tr>
  <td background="templates/ferman1/ferman1_1.png" width="191" height="42"></td>
  <td background="templates/ferman1/ferman1_2.png" width="427" height="42"></td>
  <td background="templates/ferman1/ferman1_3.png" width="111" height="42"></td>
 </tr>
 <tr>
  <td background="templates/ferman1/ferman1_4.png" width="191" height="27"></td>
  <td background="templates/ferman1/ferman1_5.png" width="427" height="27" valign="bottom">
  <div class='msgbsl'>#edit# <b>#name#</b>/#yer# #time#</div></td>
  <td background="templates/ferman1/ferman1_6.png" width="111" height="27"></td>
 </tr>
 <tr>
  <td background="templates/ferman1/ferman1_7.png" width="191" height="26"></td>
  <td background="templates/ferman1/ferman1_8.png" width="427" height="26"></td>
  <td background="templates/ferman1/ferman1_9.png" width="111" height="26"></td>
 </tr>
 </table>
 <table cellspacing="0" cellpadding="0" width="729">
 <tr>
  <td background="templates/ferman1/ustsol.png" width="113" height="41"></td>
  <td background="templates/ferman1/ustorta.png" width="506" height="41"></td>
  <td background="templates/ferman1/ustsag.png" width="110" height="41"></td>
 </tr>
 <tr>
  <td background="templates/ferman1/ortasol.png" width="113" height="33"></td>
  <td background="templates/ferman1/orta.gif" width="506" height="33"><div class='msgaln'>#message#</div></td>
  <td background="templates/ferman1/ortasag.png" width="110" height="33"></td>
 </tr>
 <tr>
  <td background="templates/ferman1/ortasol.png" width="113" height="33"></td>
  <td background="templates/ferman1/orta.gif" width="506" height="33">#email# #web#</td>
  <td background="templates/ferman1/ortasag.png" width="110" height="33"></td>
 </tr>
 <tr>
  <td background="templates/ferman1/altsol.png" width="113" height="61"></td>
  <td background="templates/ferman1/altorta.png" width="506" height="61"></td>
  <td background="templates/ferman1/altsag.png" width="110" height="61"></td>
 </tr>
</table>
